{% extends 'base.html.twig' %}

{% block title %}Create New BetSession{% endblock %}

{% block body %}
<section class="author-area">
    <div class="container">
        <div class="row justify-content-center">
            {% if not form.artwork.vars.choices is empty %} 
                <!-- Form Header -->
                <div class="col-12 text-center mb-4">
                    <h2>Create BetSession Here</h2>
                    <p class="text-muted">Fill out the form below to create a new bet session.</p>
                </div>

                <!-- BetSession Form Section -->
                <div class="col-12 col-md-8">
                    <form class="bet-session-form card no-hover p-3" method="post" novalidate >
                        {{ include('bet_session/_form.html.twig') }}
                    </form>
                    {% for message in app.flashes('error_new_betsession') %}
                        <div class="alert alert-danger mt-3">
                            {{ message }}
                        </div>
                    {% endfor %}

             {% else %}
            
                <div class="col-12 text-center  mb-5 mt-5">
                    <h2>No Artwork Available</h2>
                    <p class="text-muted">You don't have any artwork available to create a betting sessions.</p>
                    <a href="{{ path('app_artwork_new') }}" class="btn btn-primary mt-3">Create New Artwork</a>
                </div>
          {% endif %}
        </div>
    </div>
</section>
{% endblock %}

