{% block sidebar %}
<ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_dashboard') }}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#blog-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layout-text-window-reverse"></i><span>Blog</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="blog-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a href="{{ path('app_blog_posts_back') }}">
                    <i class="bi bi-circle"></i><span>Posts</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_blog_comments_back') }}">
                    <i class="bi bi-circle"></i><span>Comments</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
