<form method="post" action="{{ path('app_trade_dispute_delete', {'id': trade_dispute.id}) }}" onsubmit="return confirm('Are you sure you want to delete this dispute?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trade_dispute.id) }}">
    <button class="btn btn-link text-danger p-0" type="submit">Delete</button>
</form>